asgiref
async-timeout
attrs
certifi
charset-normalizer
django
django-braces
django-debug-toolbar
django-embed-video
django-extensions
django-redisboard
djangorestframework
Pillow
psycopg2-binary
pymemcache
pyscopg2
pytz
redis
requests
six
sqlparse
urllib3
